@font-face {
  font-family: "Seasons";
  src: url("../fonts/theseasons/TheSeasonsRegular.eot");
  src: url("../fonts/theseasons/TheSeasonsRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/theseasons/TheSeasonsRegular.woff2") format("woff2"), url("../fonts/theseasons/TheSeasonsRegular.woff") format("woff"), url("../fonts/theseasons/TheSeasonsRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MoonTime";
  src: url("../fonts/moontime/MoonTime-Regular.eot");
  src: url("../fonts/moontime/MoonTime-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/moontime/MoonTime-Regular.woff2") format("woff2"), url("../fonts/moontime/MoonTime-Regular.woff") format("woff"), url("../fonts/moontime/MoonTime-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dmsans/DMSans-Regular.eot");
  src: url("../fonts/dmsans/DMSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dmsans/DMSans-Regular.woff2") format("woff2"), url("../fonts/dmsans/DMSans-Regular.woff") format("woff"), url("../fonts/dmsans/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dmsans/DMSans-Bold.eot");
  src: url("../fonts/dmsans/DMSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/dmsans/DMSans-Bold.woff2") format("woff2"), url("../fonts/dmsans/DMSans-Bold.woff") format("woff"), url("../fonts/dmsans/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  position: relative;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: #372B54;
}

h1, h2 {
  font-family: arial, sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0 30px;
  margin: 0 auto;
}
.container_full-height {
  height: 100%;
}

.section-title {
  font-size: 40px;
  text-transform: uppercase;
  color: #372B54;
}

input,
button,
label {
  display: block;
  border: none;
  background: transparent;
}

input:focus,
button:focus {
  outline: none;
}

fieldset {
  border: none;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border: 1px solid #E9E9E9;
  max-width: 400px;
  width: 400px;
  color: #C0C0C0;
}
.search-form__icon {
  margin-right: 10px;
}
.search-form__input {
  width: 100%;
}

.btn {
  padding: 15px 25px;
  display: inline-block;
  background: #FF9900;
  border: 1px solid transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.btn_stroke {
  border: 1px solid #FF9900;
  background: none;
  color: #FF9900;
}
.btn_full {
  width: 100%;
}

.user-action {
  position: fixed;
  z-index: 100;
  bottom: 50px;
  right: 100px;
}
.user-action__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  color: #ff9900;
  font-size: 20px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  margin: 2px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.user-action__item:hover {
  background: #FF9900;
  color: #372B54;
}

.toggle-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 80px;
  background: white;
  color: #211a32;
  border: 2px solid transparent;
  -webkit-transition: color 0.3s, background 0.3s;
  -o-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
  cursor: pointer;
}
.btn-tab::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: attr(data-number);
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  background: #211a32;
  color: white;
  margin-right: 10px;
}
.btn-tab:hover {
  background: #211a32;
  color: white;
}
.btn-tab:hover::before {
  background: white;
  color: #211a32;
}
.btn-tab__content span {
  display: block;
}
.btn-tab__title {
  font-size: 20px;
  font-weight: bold;
}
.btn-tab__subscr {
  font-size: 12px;
}
.btn-tab_active {
  background: #211a32;
  color: white;
}
.btn-tab_active::before {
  background: white;
  color: #211a32;
}

.top-header-block {
  background: #372B54;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.top-header__item:first-child {
  margin-right: 40px;
}
.top-header__item:nth-child(2) {
  margin-right: auto;
}
.top-header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-header__addit-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-item {
  cursor: pointer;
  margin-right: 20px;
  color: #C0C0C0;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.action-item:hover {
  color: #FF9900;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.language__item {
  text-transform: uppercase;
  padding-right: 10px;
  color: #C0C0C0;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}
.language__item:hover {
  color: #FF9900;
}
.language__item:last-child {
  padding-right: 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 16px;
}
.social__item {
  margin-right: 5px;
}
.social__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF9900;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  width: 20px;
  height: 20px;
}
.social__item a:hover {
  color: white;
}
.social__item a i {
  display: block;
}
.social__item:last-child {
  margin-right: 0;
}
.social__item_instagram {
  font-size: 20px;
}

.user-account {
  position: relative;
  padding-right: 20px;
  border-right: 2px solid #C0C0C0;
}
.user-account span {
  margin-left: 5px;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.menu-header__search-block {
  margin-right: auto;
}
.menu-header__menu {
  margin-right: 40px;
}

.logo {
  margin-right: 40px;
  width: 150px;
}
.logo img {
  width: 100%;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-list__link {
  padding: 10px 10px;
  position: relative;
}
.menu-list__link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: #372B54;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}
.menu-list__link:hover::before {
  width: 100%;
}

.hero-block {
  background-color: #372B54;
  background-image: -o-radial-gradient(circle, rgba(173, 173, 173, 0.5) 0.6px, rgba(255, 255, 255, 0) 0.78px), -o-radial-gradient(circle, rgba(197, 197, 197, 0.5) 0.6px, rgba(255, 255, 255, 0) 0.78px);
  background-image: radial-gradient(circle, rgba(173, 173, 173, 0.5) 0.6px, rgba(255, 255, 255, 0) 0.78px), radial-gradient(circle, rgba(197, 197, 197, 0.5) 0.6px, rgba(255, 255, 255, 0) 0.78px);
  background-size: 0 0, 4px 4px;
  background-repeat: repeat;
  height: calc(100vh - 140px);
  position: relative;
}
.hero-block__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.hero-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  z-index: 1;
}
.hero__content {
  width: 50%;
  max-width: 500px;
}
.hero__title-block {
  position: relative;
  color: white;
}
.hero__title-block::before {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: -o-repeating-linear-gradient(45deg, #E9E9E9, #E9E9E9, transparent 2px, transparent 7px);
  background: repeating-linear-gradient(45deg, #E9E9E9, #E9E9E9, transparent 2px, transparent 7px);
  position: absolute;
  top: -50px;
  right: 0;
  opacity: 0.3;
}
.hero__title {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.hero__subtitle {
  margin-bottom: 100px;
  font-size: 2rem;
  max-width: 500px;
}
.hero__video-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #CE2021;
  color: white;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  font-size: 30px;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
}
.hero__action-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.hero__action-block button {
  margin-left: 10px;
}
.hero__action-block button:last-child {
  margin-right: 0;
}
.hero__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section {
  padding: 50px 0;
}
.section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.section__sidebar {
  padding-right: 50px;
  border-right: 1px solid #C0C0C0;
  width: 30%;
}
.section__content {
  width: 100%;
  padding-left: 50px;
}
.section__title-block {
  margin-bottom: 20px;
}
.filter-block {
  margin-bottom: 20px;
}
.filter-block__title {
  margin-bottom: 10px;
}
.filter-block__content {
  margin-bottom: 10px;
}
.filter-block__show-more {
  color: #FF9900;
  font-weight: bold;
  cursor: pointer;
}

.filter-item {
  margin-bottom: 5px;
  cursor: pointer;
}
.filter-item__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter-item__checkbox {
  margin-right: 10px;
}
.vacancies__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background: #E9E9E9;
  margin-bottom: 20px;
}
.vacancies__info-block {
  margin-right: auto;
}
.vacancies__info span {
  font-weight: bold;
}
.vacancies__sort-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.vacancies__sort-block:first-child {
  margin-right: 20px;
}
.vacancy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.vacancy:last-child {
  margin-bottom: 0;
}
.vacancy__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 15px;
}
.vacancy__thumbnail {
  width: 160px;
  min-width: 160px;
  height: 160px;
  margin-right: 15px;
}
.vacancy__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.vacancy__title {
  margin-bottom: 5px;
}
.vacancy__meta {
  margin-bottom: 20px;
}
.vacancy__salary-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  background: #E9E9E9;
}
.vacancy__salary {
  margin-bottom: 10px;
}
.vacancy__details {
  padding: 10px 40px;
  background: #FF9900;
  color: white;
}

.meta-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.meta-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: #C0C0C0;
  font-size: 14px;
  margin-right: 10px;
}
.meta-info__item:last-child {
  margin-right: 0;
}
.meta-info__item-icon {
  margin-right: 5px;
}
.meta-info__item-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.meta-info__item-value a {
  color: #C0C0C0;
  margin-right: 5px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.meta-info__item-value a:hover {
  color: #FF9900;
}
.meta-info__item-value a::after {
  content: ",";
}
.meta-info__item-value a:last-child {
  margin-right: 0;
}
.meta-info__item-value a:last-child::after {
  content: "";
}/*# sourceMappingURL=style.css.map */