// $color1: #2B3245;
$color1: #372B54;
$color2: #FF9900;
$color3: #005DB2;
$color4: #C0C0C0;
$color5: #E9E9E9; 
$color6: #EFEFEF;

// font-size
$fzSectionTitle: 40px;

// font
$fontTitle: arial, sans-serif;

