input,
button,
label {
    display: block;
    border: none;
    background: transparent;
}

input:focus,
button:focus {
    outline: none;
}

fieldset {
    border: none;
}

.search-form {
    @include flex(center, center);
    padding: 15px;
    border: 1px solid $color5;
    max-width: 400px;
    width: 400px;
    color: $color4;
    &__icon {
        margin-right: 10px;
    }
    &__input {
        width: 100%;
    }
}

.btn {
    padding: 15px 25px;
    display: inline-block;
    background: $color2;
    border: 1px solid transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &_stroke {
        border: 1px solid $color2;
        background: none;
        color: $color2;
    }
    &_start {}
    &_full {
        width: 100%;
    }
}

.user-action {
    $size: 50px;
    $iconSize: 20px;
    position: fixed;
    z-index: 100;
    bottom: 50px;
    right: 100px;
    &__item {
        @include flex(center, center);
        width: $size;
        height: $size;
        color: rgba($color2, 1);
        font-size: $iconSize;
        cursor: pointer;
        background: rgba(white, .2);
        margin: 2px;
        box-shadow: 2px 2px 10px rgba(black, .3);
        &:hover {
            background: $color2;
            color: $color1;
        }
    }
}

.toggle-tabs {
    @include flex(center, center);
}
.btn-tab {
    @include flex(center, center);
    $mainColor: darken($color1, 10);
    
    width: 250px;
    height: 80px;
    background: white;
    color: $mainColor;
    border: 2px solid transparent;
    transition: color .3s, background .3s;
    cursor: pointer;
    &::before {
        @include flex(center, center);
        $size: 30px;

        content: attr(data-number);
        width: $size;
        height: $size;
        font-size: 20px;
        // font-weight: bold;
        border-radius: 50%;
        background: $mainColor;
        color: white;
        margin-right: 10px
    }
    &:hover {
        $mainColor: darken($color1, 10);
    
        background: $mainColor;
        color: white;
        &::before {
            background: white;
            color: $mainColor;
        }
    }

    &__content {
        span {
            display: block;
        }
    }
    &__title {
        font-size: 20px;
        font-weight: bold;
    }
    &__subscr {
        font-size: 12px;
    } 

    &_active {
        $mainColor: darken($color1, 10);
    
        background: $mainColor;
        color: white;
        &::before {
            background: white;
            color: $mainColor;
        }
    }
}