.hero-block {
    background-color: $color1;
    background-image:
        radial-gradient(circle, 
            rgba(173, 173, 173, 0.5) 0.6px, 
            rgba(255, 255, 255, 0) 0.78px), 
        radial-gradient(circle, 
            rgba(197, 197, 197, 0.5) 0.6px, 
            rgba(255, 255, 255, 0) 0.78px);
            
    background-size: 0 0, 4px 4px;
    background-repeat: repeat;

    height: calc(100vh - 140px);
    position: relative;
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center bottom;
        }
    }
}
.hero {
    @include flex(flex-start, center);

    height: 100%;
    position: relative;
    z-index: 1;
    &__content {
        width: 50%;
        max-width: 500px;
    }
    &__title-block {
        position: relative;
        color: white;
        &::before {
            $substraitSize: 300px;
            content: "";
            display: block;
            width: $substraitSize;
            height: $substraitSize;
            border-radius: 50%;
            background: 
                repeating-linear-gradient(
                    45deg, 
                    $color5,
                    $color5, 
                    transparent 2px, 
                    transparent 7px
                );
            position: absolute;
            top: -50px;
            right: 0;
            opacity: .3;
        }
    }
    &__title {
        font-size: 4.5rem;
        text-transform: uppercase;
        font-weight: bolder;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
    }
    &__subtitle {
        margin-bottom: 100px;
        font-size: 2rem;
        max-width: 500px;
    }
    &__video-block {
        @include flex(center, center);
        $size: 80px;
        width: $size;
        height: $size;
        border-radius: 50%;
        background: #CE2021;
        color: white;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        font-size: 30px;
        transform: translate(50%, 0);
    }
    &__action-block {
        @include flex;
        button {
            margin-left: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__tabs {
        @include flex(center, center);
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
}


