$marginTitle: 10px;

.vacancies {}

.filter {}

.filter-block {
    margin-bottom: 20px;
    &__title {
        margin-bottom: $marginTitle;
    }
    &__content {
        margin-bottom: 10px;
    }
    &__list {}
    &__show-more {
        color: $color2;
        font-weight: bold;
        cursor: pointer;
    }
}

.filter-item {
    margin-bottom: 5px;
    cursor: pointer;
    &__element {
        @include flex(flex-start, center);

    }
    &__checkbox {
        margin-right: 10px;
    }
    &__title {}
}