.menu-header {
    @include flex(flex-start, center);
    padding: 20px 0;
    &__search-block {
        margin-right: auto;
    }
    &__menu {
        margin-right: 40px;
    }
}

.logo {
    margin-right: 40px;
    width: 150px;
    img {
        width: 100%;
    }
}


.menu-list {
    @include flex(center, center);
    &__item {}
    &__link {
        padding: 10px 10px;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0;
            background: $color1;
            transition: width .3s;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}