.top-header-block {
    background: $color1;
}
.top-header {
    @include flex(flex-start, center);

    padding: 5px 0;
    &__item {
        &:first-child {
            margin-right: auto;
        }
        &:nth-child(2) {
            margin-right: 20px;
        }
    }
    &__action {
        @include flex(flex-start, center);
    }
    &__addit-features {
        @include flex(flex-start, center);
    }
}
.language {
    @include flex;
    &__item {
        text-transform: uppercase;
        padding-right: 10px;
        color: $color4;
        transition: color 0.3s;
        cursor: pointer;
        &:hover {
            color: $color2;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.social {
    $item-size: 20px;
    @include flex;

    font-size: 12px;
    &__item {
        margin-right: 5px;
        a {
            @include flex(center, center);

            color: $color1;
            transition: background .3s;
            width: $item-size;
            height: $item-size;
            border-radius: 50%;
            background: $color2;
            &:hover {
                background: white;
            }
            i {
                display: block;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        &_instagram {
            font-size: 16px;
        }
    }
}

